$primary-font: 'Arvo', 'Rockwell', Helvetica, sans-serif;
$body-font: 'Roboto', Helvetica, sans-serif;

$bower-bg: #FFCC2F;
$bower-title: #EF5734;
$grunt-title: #453015;
$grunt-main: #FEA740;
$blockquote-color: #bdc3c7;

body {
	background-color: black;
}

#container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px;
	font-family: $body-font;
	color: white;
	height: auto;
}

header {
	background-color: black;
	padding: 10px auto;
	width: 100%;
	text-align: center;
}

header h1 {
	color: white;
	padding: 10px 0;
	font-size: 48px;
}

h1 {
	font-family: $primary-font;
	margin: 0px;
}

h2 {
	font-family: $primary-font;
	margin: 0px;
	font-weight: normal;
	font-size: 24px;
	letter-spacing: 2px;
}

ol {
	margin: 0px;
	display: inline-block;
}

.how-to{
	display: inline-block;
	padding: 20px 10px 0 10px;
	width: 48%;
	margin: 0px;
}

.main {
	height: 560px;
}

.how-to h1{
	text-align: center;
	display: inline;
}

.how-to img {
	height: 200px;
	width: auto;
	text-align: center;
	display: inline;
}

.title {
	margin: auto;
	display: block;
}

#bower {
	background-color: $bower-bg;
	float: left;
	color: black;
}

#bower h1 {
	font-family: 'Helvetica-Neue', 'Helvetica', sans-serif;
	font-size: 100px;
	font-weight: bold;
	color: $bower-title;
}

#grunt {
	float: right;
	color: $grunt-title;
	background-color: white;
}

#grunt h1 {
	font-family: 'Helvetica-Neue', 'Helvetica', sans-serif;
	font-size: 100px;
	font-weight: bolder;
	text-transform: uppercase;
}

.steps li {
	line-height: 1.5em;
}

blockquote {
	background-color: $blockquote-color;
	padding: 5px 15px;
	margin: 0px;
	border-radius: 5px;
}

#sample_gruntfile {
	float: right;
	margin-top: 10px;
	padding-top: 0px;
	background-color: $grunt-main;
	height: auto;
}

#title_gruntfile{
	padding: 10px;
	margin: 0px;
	color: $grunt-title;
}

#title_gruntfile:hover{
	background-color: $grunt-main;
}

#code_gruntfile{
	color: $grunt-title;
	margin-bottom: 10px;
}

.sub {
	font-size: 0.8em;
	font-style: oblique;
	font-family: $body-font;
}

.hidden {
	display: none;
}

#additional li{
	line-height: 1.5em;
}
