<!DOCTYPE html>
<html>
  <head>
 	  <title>Start Guide for Bower & Grunt</title>
    <link rel="stylesheet" type="text/css" href="build/main.css">
    <link href='http://fonts.googleapis.com/css?family=Arvo:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!-- <script src="bower_components/modernizr/modernizr.js"></script> -->
 	</head>

	<body>
		<div id="container">
			<header>
				<h1>A Quick Guide On How to Set-up</h1>
			</header>
			<div id="bower" class="how-to main">
				<div class="title">
					<img class="logo" src="images/bower-logo.png" alt="Bower logo"/>
					<h1>Bower</h1>
				</div>
				<ol class="steps">
					<li>Install: npm install -g bower</li>
					<li>Check version: bower --v</li>
					<li>Generate bower.json file: bower init (press enter for default entry)</li>
					<li>Install packages to create bower_components: bower install (package_name like jquery, bootstrap, modernizr)</li>
					<li><strong>Congratulations! You now got Bower packages!</strong></li>
				</ol>
			</div>

			<div class="grunt_container main">
				<section id="grunt" class="how-to">
					<div class="title">
						<img class="logo" src="images/grunt-logo.png" alt="Grunt logo"/>
						<h1>Grunt</h1>
					</div>
					<ol class="steps">
						<li>Install: npm install -g grunt-cli</li>
						<li>Check version: grunt -version</li>
						<li>Generate package.json file: npm init<br>
							<em>Remove "main":"index.js"</em></li>
						<li>Manually include packages in package.json file, example:
							<blockquote>
							"devDependencies": {<br>
			    			&nbsp;&nbsp;&nbsp;&nbsp;"grunt": "^0.4.5",<br>
			    			&nbsp;&nbsp;&nbsp;&nbsp;"grunt-contrib-sass": "^0.7.3",<br>
			    			&nbsp;&nbsp;&nbsp;&nbsp;"grunt-contrib-uglify": "^0.5.1"<br>
			  				};</blockquote></li>
						<li>Generate node_components: npm install --save-dev</li>
						<li>Manually create Gruntfile.js for the tasks  	 <span class="sub"><a href="Gruntfile.js">or click to download</a></span></li>
						<li><strong>Congratulations! Grunt is now set!</strong></li>
					</ol>

					<article id="sample_gruntfile">
						<h2 id="title_gruntfile">Sample Gruntfile.js <span class="sub">Click to view</span></h2>
						<blockquote id="code_gruntfile" class="hidden">
						module.exports = function(grunt) {<br>
							&nbsp;&nbsp;<span class="sub">//Project configuration</span><br><br>
							&nbsp;&nbsp;grunt.initConfig ({<br>
								&nbsp;&nbsp;&nbsp;&nbsp;pkg:grunt.file.readJSON('package.json'),<br>
								&nbsp;&nbsp;&nbsp;&nbsp;uglify: {<br>
						      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;options: {<br>
						      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;banner: '/*! <%= pkg.name %> <%= grunt.template.today("yyyy-mm-dd") %> */\n'<br>
						     	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br>
							    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;build: {<br>
							      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;src: 'js/*.js',<br>
							      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dest: 'build/main.min.js'<br>
							    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
						  	&nbsp;&nbsp;&nbsp;&nbsp;},<br>
							  &nbsp;&nbsp;&nbsp;&nbsp;sass: {<br>
							    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dist: {<br>
						        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;files: {<br>
						        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'build/main.css':'sass/main.scss'<br>
						        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
						      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
							  &nbsp;&nbsp;&nbsp;&nbsp;}<br>
							&nbsp;&nbsp;});<br><br>
						  &nbsp;&nbsp;<span class="sub">// Load the plugin that generates css from sass.</span><br>
						  &nbsp;&nbsp;grunt.loadNpmTasks('grunt-contrib-sass');<br><br>
						  &nbsp;&nbsp;<span class="sub">// Load the plugin that provides the "uglify" task</span><br>
						  &nbsp;&nbsp;grunt.loadNpmTasks('grunt-contrib-uglify');<br><br>
						  &nbsp;&nbsp;<span class="sub">// Default task(s)</span><br>
						  &nbsp;&nbsp;grunt.registerTask('default', ['uglify', 'sass']);<br>
						};
						</blockquote>
					</article>
				</section>
			</div>

			<div id="additional">
				<div class="title" class="how-to">
					<h2>Additional Notes</h2>
				</div>
				<ul>
					<li>Add to to HTML file the script tags for bower_components</li>
					<li>Create .gitignore to ignore node_components and bower_components</li>
					<li>SASS: create manually "build/main.css" and "sass/main.scss"</li>
				</ul>
			</div>
				<footer class="sub">
				&copy <a href="www.github.com/buzzlightyear182">JHD on www.github.com/buzzlightyear182</a>
				</footer>
			</div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script>
    	$("#title_gruntfile").click(function() {
				$('#code_gruntfile').toggleClass('hidden');
			})
		</script>
	</body>
</html>